PortmanXMLConverter/schemas/NOA/NOA_Envelope_UnqualifiedDataType_100pD22B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
    elementFormDefault="qualified"
    version="100.D22B">
  <xs:complexType name="CodeType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Code. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:token"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Code. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:tokenValidationVersion"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Code. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:tokenValidationVersion_3"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeTypeValidationVersion_3">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Code. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:tokenValidationVersion_4"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateTimeType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Date Time. Type</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="format" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="DateTime" type="xs:dateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="decimalValidationVersion">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimalValidationVersion_2">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimalValidationVersion_3">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimalValidationVersion_4">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:totalDigits value="4"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_10">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_11">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_3">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_4">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_5">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_6">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_7">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_8">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDTypeValidationVersion_9">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Identifier. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IndicatorType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Indicator. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean">
      <xs:pattern value="1"/>
      <xs:pattern value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Measure. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:token">
          <xs:annotation>
            <xs:documentation>SC</xs:documentation>
            <xs:documentation>Measure Unit. Code</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Measure. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:decimalValidationVersion_4">
        <xs:attribute name="unitCode" type="udt:tokenValidationVersion_2" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Measure. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:decimalValidationVersion_4">
        <xs:attribute name="unitCode" type="udt:tokenValidationVersion_2"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="NumericType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Numeric. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Numeric. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Numeric. Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Quantity. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Quantity. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:decimalValidationVersion"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Quantity. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:decimalValidationVersion_2"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityTypeValidationVersion_3">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Quantity. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:decimalValidationVersion_3"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="stringValidationVersion">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringValidationVersion_2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringValidationVersion_3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringValidationVersion_4">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringValidationVersion_5">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringValidationVersion_6">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:token">
          <xs:annotation>
            <xs:documentation>SC</xs:documentation>
            <xs:documentation>Language. Identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion">
        <xs:attribute name="languageID" type="xs:token"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_2">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_2">
        <xs:attribute name="languageID" type="xs:token"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_3">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_3"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_4">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_2"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_5">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_4"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_6">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_5"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_7">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_3">
        <xs:attribute name="languageID" type="xs:token"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextTypeValidationVersion_8">
    <xs:annotation>
      <xs:documentation>UDT</xs:documentation>
      <xs:documentation>Text. Type</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="udt:stringValidationVersion_6">
        <xs:attribute name="languageID" type="xs:token"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="tokenValidationVersion">
    <xs:restriction base="xs:token">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tokenValidationVersion_2">
    <xs:restriction base="xs:token">
      <xs:enumeration value="MTR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tokenValidationVersion_3">
    <xs:restriction base="xs:token">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tokenValidationVersion_4">
    <xs:restriction base="xs:token">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
